{% extends "base.html" %}

{% block content %}

<style>
   .brd {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: blue;
    padding: 25px 25px 25px 25px;
    outline-style: solid;
    outline-color: navy;
    outline-offset: -10px;
    text-align: center;
   }
</style>
 
    <div class="alert alert-info"><p><font size="4" color="Black" face="Georgia">
      {% autoescape false %}
          {{text}}
      {% endautoescape %}
    </font></p></div>

{% endblock %}